<!-- <p>error works!</p> -->
<!-- <div class="error">
    <div class="img"></div>
    <img src="./404.png" alt="404">
    <div class="errormsg"></div>
</div> -->

<div class='error'>
    <!-- <img src="./404.png" alt="error" /> -->
    <div class="img"></div>
    <div class="errtxt"><span>Ooops! You weren't supposed to see this</span>
      <span>The page you're looking for no longer exists.
      Return to the <a href="#">Home</a> page & remember you haven't seen anything.</span>
    </div>
</div>