<div class="container-fluid">
  <div class="row justify-content-between w-100">
    <div class="col-6 p-0 w-50"
      style="background:url(assets/signup.jpg) no-repeat center center; background-size:cover; height:100vh;">
    </div>


    <div class="col-6 w-50">
      <!-- <div class="heading-text d-flex justify-content-end m-2 align-items-center">
        <span class="mx-2 fs-5 text-muted">
          Already have an account?
        </span>
        <span class="shadow-lg ">
          <p-button label="Sign In"></p-button>
        </span>
      </div> -->
      <div class="d-flex justify-content-center">

        <div class="col-6 mt-4 w-auto p-0">

          <div class="heading-text d-flex justify-content-center m-2">
            <span class="text-dark mx-3 fs-3 mb-3 fw-semibold">Create an account</span>
          </div>
          <!-- <div class="fs-2 fw-semibold d-flex justify-content-center">
            Hello ! Welcome back
          </div> -->

          <!-- <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4"> -->
            <div class="d-flex flex-row align-items-center justify-content-between mb-4 w-100 col-12">
              <!-- <span class="col-1">
                <i class="fas  fa-user fa-lg me-3 fa-fw"></i>
              </span> -->
              <span class="col-1">
                <i class="fas  fa-user fa-lg me-3 fa-fw"></i>
              </span>
              <span class="d-flex col-11 justify-content-between">

                <span class="col-5 p-float-label ">
                  <input id="a" type="text" [style]="{'width': '100%'}" pInputText [(ngModel)]="name">
                  <label for="a">First Name</label>
                </span>
                <span class="col-5 p-float-label ">
                  <input id="a" type="text" [style]="{'width': '100%'}" pInputText [(ngModel)]="name">
                  <label for="a">Last Name</label>
                </span>
              </span>
            </div>
          <!-- <div class="d-flex flex-row align-items-center mb-4 w-100 col-12">
            <span class="col-1">
              <i class="fas  fa-user fa-lg me-3 fa-fw"></i>
            </span>
            <span class="col-11 p-float-label flex-fill">
              <input id="a" type="text" [style]="{'width': '100%'}" pInputText [(ngModel)]="name">
              <label  for="a">Username</label>
            </span>
          </div> -->
          <!-- </div> -->

          <!-- <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4"> -->
          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
            <span class="p-float-label flex-fill">
              <input id="b" type="text" [style]="{'width':'100%'}" pInputText [(ngModel)]="email">
              <label for="b">Email</label>
            </span>
          </div>
          <!-- </div> -->

          <!-- <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4"> -->
          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
            <span class="p-float-label flex-fill">
              <p-password class="shadow-lg" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
              [(ngModel)]="pass" [toggleMask]="true">
              <ng-template pTemplate="header">
                  <h6>Pick a password</h6>
              </ng-template>
              <ng-template pTemplate="footer">
                  <p-divider></p-divider>
                  <p class="p-mt-2">Suggestions</p>
                  <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
                      <li>At least one lowercase</li>
                      <li>At least one uppercase</li>
                      <li>At least one numeric</li>
                      <li>Minimum 8 characters</li>
                  </ul>
              </ng-template>
          </p-password>
              <label for="c">Password</label>
            </span>
          </div>
          <!-- </div> -->

          <!-- <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4"> -->
          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-phone fa-lg me-3 fa-fw fa-rotate-90"></i>
            <span class="p-float-label flex-fill">
              <input id="d" type="text" [style]="{'width':'100%'}" pInputText [(ngModel)]="phone">
              <label for="d">Phone</label>
            </span>
          </div>
          <!-- </div> -->

          <div class="form-check d-flex justify-content-center mb-5">
            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
            <label class="form-check-label" for="form2Example3">
              I agree all statements in <a href="#">Terms of service</a>
            </label>
          </div>

          <div class="row col-12 m-0 justify-content-center  mb-3 mb-lg-4">
            <button pButton pRipple [style]="{'width':'50%'}" type="button" label="Login"></button>
          </div>
          <div class="d-flex justify-content-center">
            <span>Already have an account? <a href="#">Sign in</a></span>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>